---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

// 专用css，放在BaseHead引用之后
import '../styles/blog-post.scss';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="zh-cn">
	<head>
		<meta name="view-transition" content="same-origin" />
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image fade-in">
					{heroImage && <Image width={200} height={200} src={heroImage} alt="" />}
				</div>

				<div class="three-col-container fade-in">
					<aside class="toc-sidebar fade-in">
						<h3>目录</h3>
						<ul id="toc-list"></ul>
					</aside>

					<div class="prose">
						<div class="title">
							<div class="date">
								<FormattedDate date={pubDate} />
								{updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)}
							</div>
							<h1>{title}</h1>
							<hr />
						</div>
						<slot />
					</div>

					<aside class="desc-sidebar fade-in">
						<p set:html={description}></p>
					</aside>
				</div>
			</article>
		</main>
		<Footer />

		<script src="../scripts/toc"></script>
		<script src="../scripts/fade-in-on-scroll"></script>
	</body>
</html>